.main{
  gap: 7rem;
}
.background-1{
  background: url('../images/home/01.jpg') left;
  background-size: cover;
}
.background-2{
  background: url('../images/home/03.jpg') left;
  background-size: cover;
}
.background-3{
  background: url('../images/home/02.gif') left;
  background-size: cover;
}
.background-4{
  background: url('../images/home/04.jpg') left;
  background-size: cover;
}
.container-text{
  margin-left: 15%;
  max-width: 600px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.400);
  p{
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: 'D-Din-b' , sans-serif;
  }
  h1{
    font-family: 'D-Din-b', sans-serif;
    font-size: 3rem;
  }
  button{
    margin-top: 3rem;
    padding: 20px 30px;
  }
}
.sub-2{
  margin-top: 10%;
}

@media (max-width: 425px){
  .container-text{
    padding: 10px;
    margin: 0 auto;
    
    h1{
      font-size: 2rem;
    }
  }
  .sub-2{
    margin-top: 10%;
  }
}

