.background-1-pg-3{
  background: url('../images/humanFlight/01.jpg') center;
  background-size: cover;
}
.background-2-pg-3{
  background: url('../images/humanFlight/02.jpg') center;
  background-size: cover;
}
.background-3-pg-3{
  background: url('../images/humanFlight/03.jpg') center;
  background-size: cover;
}
.background-4-pg-3{
  background: url('../images/humanFlight/04.jpg') center;
  background-size: cover;
}
.background-5-pg-3{
  background: url('../images/humanFlight/05.jpg') center;
  background-size: cover;
}
.container-text-pg-3{
  text-align: center;
  margin-top: 10%;
  h1{
    font-family: 'D-Din-b', sans-serif;
    font-size: 6rem;
  }
  p{
    font-size: 1.5rem;
  }
}
.bText-pg-3{
  color: darkgray;
  font-size: 1.3rem;
  a{
    text-decoration: none;
    color: rgb(90, 90, 90);
    &:hover{
      color: rgb(131, 131, 131);
    }
  }
}
.pg-3-sub-2{
  margin-left: 45%;
}
.pg-3-sub-3{
  margin-left: 10%;
}
.container-text-sub2{
  margin-top: 10%;
  max-width: 500px;
  p{
    font-size: 1.3rem;
  }
  h2{
    font-size: 3rem;
    font-family: 'D-Din-b', sans-serif;
  }
}
@media (max-width: 570px){
  .container-text-pg-3{
    margin-top: 10%;
    h1{
      font-size: 4rem;
    }
    p{
      font-size: 1.2rem;
    }
  }
}
@media (max-width: 380px){
  .container-text-pg-3{
    margin-top: 10%;
    h1{
      font-size: 3rem;
    }
    p{
      font-size: 1rem;
    }
  }
}