*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'D-Din', sans-serif;
  color: white;
}

@import './common/variables.scss';

@import './pages/home.scss';

@import './pages/falcon-9.scss';

@import './pages/human-space.scss';