* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "D-Din", sans-serif;
  color: white;
}

@font-face {
  font-family: "D-Din-b";
  src: url("../fonts/d-din/D-DIN-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "D-Din";
  src: url("../fonts/d-din/D-DIN.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
main {
  background-color: black;
}

.main {
  min-height: 100vh;
  width: 100%;
  background: black;
  display: flex;
  flex-direction: column;
}

.header {
  margin-left: 10%;
}

.nav {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.nav .logo {
  width: 250px;
}
.nav .logo img {
  width: 100%;
}
.nav .menu {
  margin-left: 30px;
}
.nav .menu a {
  font-family: "D-Din-b", sans-serif;
}

footer {
  min-width: 100px;
  padding: 30px;
  background: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  font-size: 0.8rem;
}
footer p {
  margin: 0px;
  color: rgb(90, 90, 90);
}
footer a {
  text-decoration: none;
  color: white;
  margin-left: 15px;
}
footer a:hover {
  color: rgb(131, 131, 131);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 700, "GRAD" 200, "opsz" 48;
}

.anch {
  margin: 0 auto;
  width: 100px;
}
.anch a {
  text-decoration: none;
  color: white;
}
.anch a img {
  width: 100%;
}

.banner {
  min-height: 40vh;
  background: black;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.banner .bTitle {
  font-family: "D-Din-b", sans-serif;
  font-size: 6rem;
}
.banner .bText {
  font-size: 1.5rem;
}

@media (max-width: 425px) {
  .nav .logo {
    width: 200px;
  }
}
.main {
  gap: 7rem;
}

.background-1 {
  background: url("../images/home/01.jpg") left;
  background-size: cover;
}

.background-2 {
  background: url("../images/home/03.jpg") left;
  background-size: cover;
}

.background-3 {
  background: url("../images/home/02.gif") left;
  background-size: cover;
}

.background-4 {
  background: url("../images/home/04.jpg") left;
  background-size: cover;
}

.container-text {
  margin-left: 15%;
  max-width: 600px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container-text p {
  margin-bottom: 5px;
  font-size: 1.5rem;
  font-family: "D-Din-b", sans-serif;
}
.container-text h1 {
  font-family: "D-Din-b", sans-serif;
  font-size: 3rem;
}
.container-text button {
  margin-top: 3rem;
  padding: 20px 30px;
}

.sub-2 {
  margin-top: 10%;
}

@media (max-width: 425px) {
  .container-text {
    padding: 10px;
    margin: 0 auto;
  }
  .container-text h1 {
    font-size: 2rem;
  }
  .sub-2 {
    margin-top: 10%;
  }
}
.background-1-pg-2 {
  background: url("../images/falcon9/01.jpg") center;
  background-size: cover;
}

.background-2-pg-2 {
  background: url("../images/falcon9/02.jpg") center;
  background-size: cover;
}

.background-4-pg-2 {
  background: url("../images/falcon9/08.jpg") center;
  background-size: cover;
}

.container-text-pg-2 {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container-text-pg-2 h1 {
  font-family: "D-Din-b", sans-serif;
  font-size: 6rem;
}
.container-text-pg-2 p {
  font-size: 1.5rem;
  font-family: "D-Din-b", sans-serif;
}

.container-text-pg-2-sub {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 600px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container-text-pg-2-sub p {
  font-size: 1.8rem;
  text-align: justify;
}

.container-text-sub-4 {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 600px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.container-text-sub-4 p {
  text-align: justify;
}
.container-text-sub-4 h3 {
  font-family: "D-Din-b", sans-serif;
}
.container-text-sub-4 table {
  width: 100%;
  border-collapse: collapse;
}
.container-text-sub-4 table tr {
  border-bottom: 1px solid white;
}
.container-text-sub-4 table tr th {
  padding-bottom: 10px;
}
.container-text-sub-4 table tr td {
  text-align: right;
}

.carousel-1 {
  margin: auto 0;
}

.text-carousel {
  margin-left: 10%;
}
.text-carousel table {
  padding: 10px;
  border-collapse: collapse;
}
.text-carousel table tr {
  margin-bottom: 1px solid white;
}
.text-carousel table tr td {
  text-align: right;
}

.paragraph-carousel {
  background-color: black;
  display: inline-block;
  padding: 5px 10px;
}

.container-text-pg-2-sub6 {
  margin: auto;
  text-align: center;
  padding: 15px;
}
.container-text-pg-2-sub6 a {
  text-decoration: none;
  color: rgb(90, 90, 90);
}
.container-text-pg-2-sub6 a:hover {
  color: rgb(131, 131, 131);
}
.container-text-pg-2-sub6 button {
  margin-left: 10px;
  margin-bottom: 10px;
  max-width: 280px;
}

@media (max-width: 425px) {
  .container-text-pg-2 h1 {
    font-size: 4rem;
  }
  .container-text-pg-2 p {
    font-size: 1.2rem;
  }
  .container-text p {
    font-size: 1.5rem;
  }
  .banner .bTitle {
    font-size: 4rem;
  }
  .banner .bText {
    font-size: 1rem;
  }
}
.background-1-pg-3 {
  background: url("../images/humanFlight/01.jpg") center;
  background-size: cover;
}

.background-2-pg-3 {
  background: url("../images/humanFlight/02.jpg") center;
  background-size: cover;
}

.background-3-pg-3 {
  background: url("../images/humanFlight/03.jpg") center;
  background-size: cover;
}

.background-4-pg-3 {
  background: url("../images/humanFlight/04.jpg") center;
  background-size: cover;
}

.background-5-pg-3 {
  background: url("../images/humanFlight/05.jpg") center;
  background-size: cover;
}

.container-text-pg-3 {
  text-align: center;
  margin-top: 10%;
}
.container-text-pg-3 h1 {
  font-family: "D-Din-b", sans-serif;
  font-size: 6rem;
}
.container-text-pg-3 p {
  font-size: 1.5rem;
}

.bText-pg-3 {
  color: darkgray;
  font-size: 1.3rem;
}
.bText-pg-3 a {
  text-decoration: none;
  color: rgb(90, 90, 90);
}
.bText-pg-3 a:hover {
  color: rgb(131, 131, 131);
}

.pg-3-sub-2 {
  margin-left: 45%;
}

.pg-3-sub-3 {
  margin-left: 10%;
}

.container-text-sub2 {
  margin-top: 10%;
  max-width: 500px;
}
.container-text-sub2 p {
  font-size: 1.3rem;
}
.container-text-sub2 h2 {
  font-size: 3rem;
  font-family: "D-Din-b", sans-serif;
}

@media (max-width: 570px) {
  .container-text-pg-3 {
    margin-top: 10%;
  }
  .container-text-pg-3 h1 {
    font-size: 4rem;
  }
  .container-text-pg-3 p {
    font-size: 1.2rem;
  }
}
@media (max-width: 380px) {
  .container-text-pg-3 {
    margin-top: 10%;
  }
  .container-text-pg-3 h1 {
    font-size: 3rem;
  }
  .container-text-pg-3 p {
    font-size: 1rem;
  }
}

/*# sourceMappingURL=style.css.map */
