:root {
  --primary-color: #F4CE01;
  --secondary-color: #0F0F0B;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body{
  background-color: var(--primary-color);
  width: 100vw;
  min-height: 100vh;
  font: bold 1rem 'Open Sans', sans-serif
}

.todo{
  margin: 2rem auto;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.title{
  background-color:var(--secondary-color);
  width: 100%;
  color:var(--primary-color);
  text-align: center;
  padding: .8rem 2rem;
  font-size: 1.5rem;
  box-shadow: 1px 1px 5px var(--secondary-color);
}
.list{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap:.5rem;
}
.item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: .5rem;
  padding: .3rem .5rem;
  box-shadow: 1px 1px 5px var(--secondary-color);
}

.item > p{
  width: 80%;
}

.item:hover{
  cursor: pointer;
  transition: all .5s ease;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.item > input[type='text']{
  border: none;
}

.item > input[type='button'],
.item > input[type='checkbox']{
  width: 1.5rem;
  height: 1.5rem;
}

.item > input[type='checkbox']:checked + p{
text-decoration: line-through;
}

.new-item{
  display: flex;
  background-color: #fff59d;
  width: 100%;
  justify-content: space-evenly;
  padding: .7rem 0;
  box-shadow: 1px 1px 5px var(--secondary-color);
}

.new-item > input{
  background-color: #fff59d;
  width: 80%;
  border: none;
  outline: none;
}
.new-item > input::placeholder{
  font-style: italic;
  font-weight: normal;
}