$color-1: hsl(172, 67%, 45%);
$color-2: hsl(183, 100%, 15%);
$color-3: hsl(186, 14%, 43%);
$color-4: hsl(184, 14%, 56%);
$color-5: hsl(185, 41%, 84%);
$color-6: hsl(180, 33%, 97%);
$color-7: hsl(0, 0%, 100%);

*{
  font-family: 'Space Mono', monospace;
  font-weight: 700;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
	vertical-align: baseline;
}
#container{
  min-height: 100vh;
  background-color: $color-5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  text-transform: uppercase;
  letter-spacing: .4rem;
  margin-top: 5rem;
  margin-bottom: 4rem;
}
header h1{
  width: 5rem;
  overflow-wrap: break-word;
  color: $color-2;
  font-size: 1.2rem;
}
main{
  background-color: $color-7;
  width: 45rem;
  height: 25rem;
  border-radius: 1.5rem;
}
main form{
  height: 100%;
  width: 100%;
  padding: 2.5rem;
  display: flex;
  gap: 2rem;
}
#leftSide, #rightSide{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;

}
.input-container{
  display: flex;
  flex-direction: column;
}
#leftSide label, h2{
  margin-bottom: .4rem;
  font-size: .8rem;
  color: $color-4;
}
#error{
  font-size: .8rem;
  color: red;
}
.hiden{
  display: none;
}
#leftSide .input-container div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  border-radius: .3rem;
}
#leftSide{
  padding-bottom: 1rem;
}
.outlineOne:hover{
  outline: .2rem solid;
  outline-color: $color-1;
}
.image-container{
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .8rem;
  background-color: $color-6;
}
.button-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}
#leftSide .tip-container input[type="button"]{
  width: 5.6rem;
  font-size: 1.2rem;
  padding: .3rem;
  border: none;
  color: $color-7;
  background-color: $color-2;
  border-radius: .3rem;
  cursor: pointer;
}
#leftSide .tip-container input[type="button"]:hover{
  background-color: $color-5;
  color: $color-2;
}
#leftSide .tip-container #custonButton{
  background-color: $color-6;
  color: $color-4;
}
input[type="number"]{
  cursor: pointer;
  background-color: $color-6;
  color: $color-2;
  border: none;
  border-radius: .3rem;
  font-size: 1.2rem;
  padding: .3rem;
  text-align: right;
}
input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
input:focus{
  outline: none;
}

#rightSide{
  padding: 3rem 1.8rem 2rem 1.8rem;
  background-color: $color-2;
}

.tipContainer, .totalContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.5rem;
}

h3{
  font-size: .8rem;
  color: $color-7;

}
.small{
  font-size: .6rem;
  color: $color-6;
  opacity: 50%;
}
#tipResult, #totalResult{
  font-size: 2rem;
  color: $color-1;
}
input[type="reset"]{
  background-color: $color-1;
  color: $color-2;
  border: none;
  border-radius: .3rem;
  padding: .5rem;
  cursor: pointer;
}
input[type="reset"]:hover{
  background-color: $color-5;
  color: $color-2;
}
input[type="reset"]:active{
  opacity: 10%;
}